*, *::before, *::after{
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}

/*Style the background*/
body{
    padding: 0%;
    margin: 0%;
    /*create the gradient for the background*/
    background: linear-gradient(to right, #00AAFF, #00FF6C);
}

/*Style the calculator grid*/
.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    /*fill 100% of the height all the time*/
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px,  auto) repeat(5, 100px);
}


/*Style the calculator grid buttons*/

/*This will select all the buttons*/
.calculator-grid > button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}

/*Change color on hover*/
.calculator-grid > button:hover{
    background-color: rgba(255, 255, 255, .9);
}

.span-two{
    grid-column: span 2;
}

.output{
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand{
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.output .current-operand{
    color: white;
    font-size: 2.5rem;
}

